body {
    font-family: Arial, sans-serif;
    background-color: #ECF0F1;
    color: #9AA4A9;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #34495E;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #22253F;
    border-radius: 5px;
}

section {
    padding: 20px;
}

section h2 {
    color: #34495E;
}

section button {
    background-color: #7283CE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

section button:hover {
    background-color: #50413D;
}

aside {
    background-color: #34495E;
    color: white;
    padding: 20px;
    margin: 20px 0;
}

aside h3 {
    margin: 0;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    color: #eee9e8;
    text-decoration: none;
}

footer {
    background-color: #34495E;
    color: white;
    padding: 10px;
}
