body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: Inter, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    text-align: left; 
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    color: #1b1b1b;
    margin-bottom: 10px;
}

.subtitle {
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

label {
    margin-top: 10px;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #8638e5;
}

.forgot-password {
    color: #8638e5;
    text-align: right;
    text-decoration: none;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #8638e5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #8638e5;
}

.register {
    margin-top: 20px;
}

.register p {
    color: #333;
}

.register a {
    color: #8638e5;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    .subtitle {
        font-size: 14px;
    }
    
    button, input, .password-container .toggle-password {
        font-size: 14px;
    }
}
